body {
  font-family: Arial, sans-serif;
  color: #222;
  font-size: 13px;
  width: auto;
  height: auto;
}

/* PARTIE NAV */

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 15px auto;
  margin-right: 20px;
  margin-top: 14px;
}

#apps img{
  width: 18px;
  height: 18px;
  padding-right: 20px;
  padding-top: 5px;
}

#gmail, #images{
  padding-right: 17px;
  margin-top: -7px;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

a:hover{
  text-decoration: underline;
}

footer a{
  color: #666;
}

#button{
  border: 2px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  color: white;
  padding: 5px 12px;
  border-radius: 2px;
  font-size: 13px;
}

/*PARTIE MAIN */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 50px;
}

#barbox {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 490px;
  height: 44px;
  border: 1px ridge #e5e5e5;
  box-shadow: 0px 1.5px 3px #c4c4c4;
}

#barbox img {
  width: 14px;
  height: 20px;
  padding-top: 12px;
  padding-left: 50px

}

#search {
  position: relative;
  width: 350px;
  height: 25px;
  padding: 0px 16px 9px 9px;
  margin: 10px 9px 0px 7px;
  border: none;
  font-size: 15px;
}

search:focus, input:focus {
  outline: none;
}

#research_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

#GS {
  margin-right: 5px;
}

#FL {
  margin-left: 5px;
}

#GS, #FL {
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #f2f2f2;
  padding: 0px 16px;
  height: 36px;
}

#GS:hover, #FL:hover {
  border: 1px solid #d3d3d3;
  background-color: #f4f4f4;
  color: black;
  box-shadow: 0px 1.5px 3px #c4c4c4;
}


/*PARTIE FOOTER */

footer {
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  position: absolute;
  margin-left: -8px;
  padding-left: 30px;
  background-color: #F2F2F2;
  width: 100%;
  line-height: 40px;
  font-size: small;
}

#France {
  font-size: 15px;
  color: #888;
}

#top_foot {
  border-bottom: 1px solid #e4e4e4;
  text-align: left;
}

#left a{
  padding-right: 15px
}

#right {
  float: right;
  padding-right: 50px;

}

#right a{
  padding-right: 15px
}
